<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
    <key>UIAppFonts</key>
    <array>
        <string>PressStart2P-Regular.ttf</string>
        <string>SuperMario256.ttf</string>
    </array>
</dict>
</plist>
